body{
    background-image:url('pic/backgr.jpg');
    
    
}

#form{
    width:30%;
    height: auto;
    margin: 150px auto 0 auto;
    background-color: blanchedalmond;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}


legend{
    color:crimson;
    font-family: cursive;
    text-decoration-line: underline;
}

#link{
    text-decoration: none;
    color:crimson;
    border-style: double;
    border-color: black;
    background-color: cadetblue;
    margin: 0px 45%;
    padding: 5px;
    
}

#link:hover {
    background-color: aliceblue;
    transform: scale(2);
    padding: 10px;
}

#convert{
   border-radius: 3px;
   background-color: brown;
   border: solid black 1px;
   box-shadow: 1px 1px 1px 0;
   font-family: fantasy;
   
}

.nova{
    font-size: 20px;
    padding:5px;
    width: 300px;
    height: 30px;
    background-color: white;
    text-align: center;
    margin:0 auto;
   
}

.nova a{
    display:block;
    text-decoration-line: none;
    color:black;
}

.rez{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;
    background-color: black;
    width: 300px;
    height: 30px;
    text-align: center;
    padding:5px;
    margin:0 auto;
    
}


